* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0px;
}

p {
  margin: 0;
}

/*
h1,h2,h3{
    font-family: 'Shrikhand', cursive;
}
*/
body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px #b7b7b7;
  margin-bottom: 4px;
}
header img {
  margin: 15px 0px;
  width: 162px;
  height: 25px;
}

.SectionFind__form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
}
.SectionFind__form input {
  background: none;
  border: none;
  text-align: center;
  font-size: 17px;
  width: 150px;
}
.SectionFind__form input:focus-visible {
  outline: none;
}

.SectionSearch {
  padding: 25px 0px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SectionSearch__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.SectionSearch__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
}
.SectionSearch__btn {
  width: 185px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: 500;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 1px 5px -2px #8641d8;
  position: relative;
  z-index: 1;
}
.SectionSearch__btn:hover::after {
  opacity: 1;
}
.SectionSearch__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to bottom, #fface8, #ae80e5);
  box-shadow: 0px 1px 5px -2px black;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.SectionFunctioning {
  padding: 25px;
}
.SectionFunctioning__title {
  margin-bottom: 20px;
}
.SectionFunctioning__steps {
  display: flex;
  flex-direction: column;
}
.SectionFunctioning__step {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.SectionFunctioning__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 24px;
  width: 24px;
  color: white;
  background-color: #9356DC;
  border-radius: 24px;
}
.SectionFunctioning__paragraph {
  display: flex;
  align-items: center;
  margin-left: 13px;
  height: 70px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0px 2px 5px #c3c3c3;
}
.SectionFunctioning__icon {
  margin: 0px 30px;
}
.SectionFunctioning__icon--purple {
  color: #9356DC;
}
.SectionFunctioning__icon--grey {
  color: #7E7E7E;
}

.SectionRestaurants {
  background-color: #F6F6F6;
  padding: 25px 10px;
}
.SectionRestaurants__title {
  margin-bottom: 15px;
}
.SectionRestaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.SectionRestaurants .card {
  background-color: white;
  border-radius: 25px;
  position: relative;
}
.SectionRestaurants .card__new {
  padding: 5px 10px;
  border-radius: 4px;
  color: #1b6150;
  background-color: #99E2D0;
  position: absolute;
  top: 15px;
  right: 30px;
}
.SectionRestaurants .card img {
  height: 200px;
  border-radius: 25px 25px 0 0;
  width: 100%;
  object-fit: cover;
}
.SectionRestaurants .card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.SectionRestaurants .card__title {
  margin: 0px 0px 5px 0px;
  font-size: 18px;
}
.SectionRestaurants .card__subtitle {
  font-size: 17;
}
.SectionRestaurants .card__icon {
  font-size: 35px;
}
.SectionRestaurants .card__btn {
  background: none;
  border: none;
}
.SectionRestaurants .card__btn:hover {
  color: gray;
}

footer {
  padding: 25px;
  color: white;
  background-color: #353535;
}
footer .footer__title {
  font-size: 18px;
  font-family: "Shrikhand", cursive;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  margin-top: 10px;
}
footer ul li i {
  margin-right: 10px;
}
footer img {
  color: white;
}

@media screen and (min-width: 1024px) {
  .SectionSearch__title {
    font-size: 40px;
  }
  .SectionFunctioning {
    padding: 60px 100px;
  }
  .SectionFunctioning__steps {
    flex-direction: row;
    justify-content: space-between;
  }
  .SectionFunctioning__step {
    width: 30%;
  }
  .SectionRestaurants {
    padding: 30px 100px;
  }
  .SectionRestaurants .cards {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .SectionRestaurants a {
    width: 45%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .footer__title {
    margin-left: 110px;
  }
  footer ul {
    display: flex;
    gap: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
