$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;


$back-color: #F6F6F6;
$icon-color: #7E7E7E;
$footer-color: #353535;


$entrees-delay : 100ms;
$plats-delay: $entrees-delay + 150ms;
$desserts-delay: $plats-delay + 150ms;