$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$back-color: #F6F6F6;
$icon-color: #7E7E7E;
$footer-color: #353535;


$entrees-delay : 150ms;
$plats-delay: $entrees-delay  + 150ms;
$desserts-delay: $plats-delay + 150ms;

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0px;
}

p {
    margin: 0;
}



@mixin flex-complete-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;

    div {
        @include flex-complete-center;

        height: 63px;
        a {
            position: absolute;
            left: 50px;

        }

        img {
            margin: 15px 0px;
            width: 162px;
            height: 28px;
        }
    }

    img {
        z-index: 0;
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
}


main {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 5px;
    border-radius: 25px 25px 0px 0px;
    background-color: $back-color;
    margin-top: -50px;
}

h2 {
    font-size: 17px;
    font-weight: 300;
}

h3 {
    margin: 0px;
}


h2::after {
    content: "";
    display: block;
    border-bottom: 5px solid $tertiary-color;
    width: 60px;
    position: relative;
    margin-top: 5px;
}


.menu__head {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .menu__title{
        font-family: 'Shrikhand', cursive;
    }

    i {
        font-size: 30px;
    }
}

.menu-portion {
    padding: 25px 5px;

    .plats {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}

.entrees-anim{
    animation: arrival 1s $entrees-delay;
    animation-fill-mode: backwards;
    
}

.plats-anim{
    animation: arrival 1s $plats-delay;
    animation-fill-mode: backwards;

}

.desserts-anim{
    animation: arrival 1s $desserts-delay;
    animation-fill-mode: backwards;
}

@keyframes arrival{
    0%{
        transform: translateX(-9999px)
    }

    100%{
        transform: translateX(0);
    }
}

.card {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
    padding: 10px 20px;

    &__text{
        white-space: nowrap;
        overflow: hidden;

    }

    &__title {
        margin-bottom: 5px;
        text-overflow: ellipsis;
        overflow: hidden;

    }

    &__subtitle {
        font-weight: 300;
        text-overflow: ellipsis;
        overflow: hidden;

    }

    span {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: 700;
    }
}


.btnPosition{
@include flex-complete-center;
}

.commandbtn {
    width: 185px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
    background: linear-gradient(to bottom, $secondary-color, $primary-color);
    box-shadow: 0px 1px 5px -2px darken($primary-color, 5%);
}


footer {
    padding: 25px;
    color: white;
    background-color: $footer-color;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-top: 10px;

            i {
                margin-right: 10px;
            }
        }
    }
}

@media screen and (min-width:1024px){

    main{
        width: 70%;
    }

    .menu__head{
        justify-content: center;

        .menu__title{
            margin-right: 20px;
        }
    }

    .menu-portion{
        width: 70%;
        margin-left: auto;
        margin-right: auto;

    }
    

}