* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0px;
}

p {
    margin: 0;
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$back-color: #F6F6F6;
$icon-color: #7E7E7E;
$footer-color: #353535;


/*
h1,h2,h3{
    font-family: 'Shrikhand', cursive;
}
*/

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-complete-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text-center {
    text-align: center;
}

@mixin bold {}

body {
    margin: 0px
}


.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    z-index: 999;
    width: 100%;
    height: 100%;
    animation: fade 4s 1s forwards;
}

.loader {
    width: 32px;
    height: 72px;
    display: inline-block;
    position: absolute;
    z-index: 999;
    border: 1px solid #99E2D0;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
    color: #9356DC;
    border-radius: 0 0 4px 4px;
    transform: perspective(140px) rotateX(-45deg);
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 0 0  inset;
    }
    100% {
      box-shadow: 0 -70px inset;
    }
  }

  
@keyframes fade {
    from{
      opacity:1;
    }
    to{
      opacity:0;
      z-index:-100;
    }
     }
  


header {

    @include flex-complete-center;

    box-shadow: 0px 0px 15px darken(#EAEAEA, 20%);
    margin-bottom: 4px;

    img {
        margin: 15px 0px;
        width: 162px;
        height: 25px;
    }
}

.SectionFind__form {
    @include flex-complete-center;
    height: 50px;
    background-color: #EAEAEA;

    input {
        background: none;
        border: none;
        text-align: center;
        font-size: 17px;
        width: 150px;

        &:focus-visible{
            outline: none;
        }
        
    }

}

.SectionSearch {
    padding: 25px 0px;
    background-color: $back-color;

    @include flex-column;
    @include flex-complete-center;


    &__title {
        margin-bottom: 20px;
        @include text-center;
        font-size: 24px;
        font-weight: 700;
    }

    &__subtitle {
        @include text-center;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 25px;
    }

    &__btn {
        width: 185px;
        height: 40px;
        border-radius: 25px;
        border: none;
        color: white;
        font-weight: 500;
        background: linear-gradient(to bottom, $secondary-color, $primary-color);
        box-shadow: 0px 1px 5px -2px darken($primary-color, 5%);
        position: relative;
        z-index: 1;


        &:hover{
            &::after{
                opacity: 1;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 25px;
            border: none;
            background: linear-gradient(to bottom, lighten($secondary-color,10%), lighten($primary-color,10%));
            box-shadow: 0px 1px 5px -2px darken($primary-color, 100%);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }

    }
}


.SectionFunctioning {

    padding: 25px;




    &__title {
        margin-bottom: 20px;
    }

    &__steps {
        display: flex;
        flex-direction: column;

    }

    &__step {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__number {
        @include flex-complete-center;
        position: absolute;
        height: 24px;
        width: 24px;
        color: white;
        background-color: $primary-color;
        border-radius: 24px;
    }

    &__paragraph {
        display: flex;
        align-items: center;
        margin-left: 13px;
        height: 70px;
        width: 100%;
        background-color: $back-color;
        border-radius: 25px;
        box-shadow: 0px 2px 5px darken($back-color, 20%);
    }

    &__icon{
        margin: 0px 30px;

        &--purple{
            color: $primary-color;
        }

        &--grey{
            color: $icon-color;
        }
    }

}

.SectionRestaurants {

    background-color: $back-color;
    padding: 25px 10px;

    &__title {
        margin-bottom: 15px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .card {
        background-color: white;
        border-radius: 25px;

        position: relative;

        &__new {

            padding: 5px 10px;
            border-radius: 4px;
            color: darken($tertiary-color, 50%);
            background-color: $tertiary-color;

            position: absolute;
            top: 15px;
            right: 30px;

        }

        img {
            height: 200px;
            border-radius: 25px 25px 0 0;
            width: 100%;
            object-fit: cover;
        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
        }

        &__title {
            margin: 0px 0px 5px 0px;
            font-size: 18px;
        }

        &__subtitle {
            font-size: 17;
        }

        .fa-heart{
            font-size: 35px;
            position: absolute;
        }



        .fa-solid{
            transform: scale(0);
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(to bottom, $secondary-color, $primary-color);
            transition: transform 450ms ease-in-out;
                    
        }

        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            border: none;
            cursor: pointer;

            margin-right: 15px;

            position: relative;
            z-index: 1;

            &:hover > .fa-solid{
                transform: scale(1);
            }
        }
    }
}

footer {
    padding: 25px;
    color: white;
    background-color: $footer-color;

    .footer__title{
        font-size: 18px;
        font-family: 'Shrikhand', cursive;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-top: 10px;

            i {
                margin-right: 10px;
            }
        }
    }

    img{
        color: white;
    }
}

@media screen and (min-width:1024px) {

    .SectionSearch {
        &__title {
            font-size: 40px;
        }
    }

    .SectionFunctioning {

        padding: 60px 100px;

        &__steps {
            flex-direction: row;
            justify-content: space-between;
        }

        &__step {
            width: 30%;
        }

    }

    .SectionRestaurants {
        padding: 30px 100px;

        .cards {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

        }

        a {
            width: 45%;
        }
    }

    footer {
        display: flex;
        flex-direction: row-reverse;

        .footer__title{
            margin-left: 110px;
        }



        ul {
            display: flex;
            gap: 15px;
        }
    }


}