footer {
    padding: 25px;
    color: white;
    background-color: $footer-color;

    .footer__title{
        font-size: 18px;
        font-family: 'Shrikhand', cursive;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-top: 10px;

            i {
                margin-right: 10px;
            }
        }
    }

    img{
        color: white;
    }
}

@media screen and (min-width:1024px) {



    footer {
        display: flex;
        flex-direction: row-reverse;

        .footer__title{
            margin-left: 110px;
        }



        ul {
            display: flex;
            gap: 15px;
        }
    }


}